{% extends "app/plantillaBase.html" %}

{% block content %}
<h2>{{title}}</h2>

<section class="pyscript">
    <h3>Fecha de ultima actualizacion: </h3>

    <py-tutor>
        <py-config>
            packages = [
                "pandas"
            ]
            plugins = [
            "https://pyscript.net/latest/plugins/python/py_tutor.py"
            ]
        </py-config>
        <py-script>
            # Importamos las bibliotecas
            from datetime import datetime # Fecha actual
            import pandas as pd # Lectura ficheros CSV
            from pyodide.http import open_url # Lectura url
            # Fecha actual
            now = datetime.now()
            display(now.strftime("%m/%d/%Y, %H:%M:%S"))
            # Dataset iris
            iris = pd.read_csv(
                open_url("https://raw.githubusercontent.com/p72losaj/Introduccion_Mineria_Datos/main/PRACTICAS/misDatasets/iris.data"),
                header = None,
                names=["sepal length","sepal width","petal length","petal width","class"]
            )
            display("DATASET IRIS")
            display(iris)
            display(iris.describe())
            display(iris.corr())
        </py-script>
    </py-tutor>
    <h3>Mostrando codigo empleado</h3>
</section>

{% endblock %}