{% extends "app/tecnologias/tecnologias.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Bash</h1>
    <p class="lead">Bash es un intérprete de comandos y lenguaje de programación integrado que corre bajo el macroprocesador Shell de Unix.</p>
    <p><a href="https://es.ccm.net/ordenadores/linux/3810-que-es-un-shell-y-para-que-se-utiliza/" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>
<div class="row">


    <div class="col-md-4">
        <h2>Python</h2>
        <p>Puede utilizar fácilmente Python en un script bash. Descubra cómo incrustar Python en Bash.</p>
        <p><a class="btn btn-default" href="https://tecnobillo.com/sections/bonus/combinando-python-y-bash/combinando-python-y-bash.html">Aprender más&raquo;</a></p>
    </div>
</div>

{% endblock %}
