{% extends "app/plantillaBase.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>CSS</h1>
    <p class="lead">CSS es un lenguaje de programación utilizado por los programadores para el diseño visual de páginas web.</p>
    <p><a href="https://developer.mozilla.org/es/docs/Learn/CSS/First_steps/What_is_CSS" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Aprendizaje</h2>
    <p>Puede aprender de forma sencilla como diseñar visualmente sus propias páginas web. Descubra cómo mejorar el diseño visual de sus páginas web de forma gratuita.</p>
    <p><a href="https://www.w3schools.com/css/default.asp" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

{% endblock %}