{% extends "app/plantillaBase.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django es un marco web gratuito para crear excelentes sitios web y aplicaciones web utilizando HTML, CSS y JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Obtener más librerías</h2>
        <p>Python Package Index es un repositorio de software para el lenguaje de programación Python.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Aprender más&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Puede publicar fácilmente en Microsoft Azure con Visual Studio. Descubra cómo puede alojar su aplicación con una prueba gratuita hoy.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Aprender más&raquo;</a></p>
    </div>
</div>

{% endblock %}
