{% extends "app/plantillaBase.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>JAVASCRIPT</h1>
    <p class="lead">JavaScript es un lenguaje de programación que los desarrolladores utilizan para diseñar páginas web interactivas.</p>
    <p><a href="https://developer.mozilla.org/es/docs/Learn/JavaScript/First_steps/What_is_JavaScript" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Aprendizaje</h2>
    <p>Puede aprender de forma sencilla como implementar JavaScript en páginas web. Descubra cómo mejorar las funcionalidades de sus páginas web de forma gratuita.</p>
    <p><a href="https://www.w3schools.com/js/default.asp" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

{% endblock %}