{% extends "app/tecnologias/tecnologias.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>PYTHON</h1>
    <p class="lead">Python es un lenguaje de programación orientado a objetos de alto nivel utilizado a menudo para crear sitios web y software, automatizar tareas y realizar análisis de datos.</p>
    <p><a href="https://developer.oracle.com/es/learn/technical-articles/what-is-python" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Aprendizaje</h2>
    <p>Puede aprender más sobre cómo utilizar el lenguaje de programación python.</p>
    <p><a href="https://www.w3schools.com/python/default.asp" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

{% endblock %}