{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Árboles de Decisión</h1>
    <p class="lead">
        Un árbol de decisión es un algoritmo de aprendizaje supervisado no paramétrico, que se utiliza tanto para
        tareas de clasificación como de regresión.
    </p>
    <p>
        <a href="https://www.unir.net/ingenieria/revista/arboles-de-decision/"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>


{% endblock %}