{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>KNN</h1>
    <p class="lead">
        Los algoritmos KNN son clasificadores de aprendizaje supervisado no paramétrico, que utilizan la proximidad para realizar clasificaciones
        o predicciones sobre la agrupación de un punto de datos individual.
    </p>
    <p>
        <a href="https://www.themachinelearners.com/algoritmo-knn/"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>


{% endblock %}