{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Datos erróneos e irrelevantes</h1>
    <p class="lead">
        Se conoce como datos erróneos e irrelevantes a aquellos datos que representan información fuera de contexto en nuestra 
        base de datos.
    </p>
    <p>
        <a href="https://www.expansion.com/economia-digital/innovacion/2016/08/27/57bddf3746163fc3578b45a4.html"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Video Tutorial</h2>
        <ul>
            <li><a href="">Py-Script</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ejercicio propuesto</h2>
        <ul>
            <li><a href="{% url 'EjerciciosLimpiezaDatos' %}">Py-Script</a></li>
        </ul>
    </div>
</div>


{% endblock %}