{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Datos nulos</h1>
    <p class="lead">
        Se conoce como datos nulos a aquellos datos sin información alguna en alguno de los elementos de la variable.
        Estos pueden deberse a diversas causas como falta de información o no haber podido estimar la variable,  un error de
        entrada, o bien a un fenómeno externo que impidió la recolección de datos.
    </p>
    <p>
        <a href="https://www.scribbr.com/statistics/missing-data/"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>


{% endblock %}