{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Outliers</h1>
    <p class="lead">
        Por outliers nos referimos a cualquier dato que difiere signicativamente del promedio o rango observado del resto de nuestros datos.
    </p>
    <p>
        <a href="https://www.malicksarr.com/how-to-detect-and-handle-outliers-in-data-mining/?utm_content=cmp-true"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Boxplot</h1>
        <p>Boxplot, también conocido como diagrama de caja y bigotes, es un gráfico que representa un conjunto de datos estadísticos de manera visual utilizando los cuartiles.</p>
        <p>
            <a href="https://www.probabilidadyestadistica.net/diagrama-de-caja-y-bigotes-boxplot/#para-que-sirve-un-diagrama-de-caja-y-bigotes"
               class="btn btn-primary btn-large">Aprender más&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h1>Columnas Innecesarias</h1>
        <p></p>
        <p>
            <a href="https://www.probabilidadyestadistica.net/cuartiles/"
               class="btn btn-primary btn-large">Aprender más&raquo;</a>
        </p>
    </div>
    
</div>

{% endblock %}