{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Limpieza de datos</h1>
    <p class="lead">
        La limpieza de datos es un proceso que involucra detectar, eliminar, corregir o transformar cualquier anomalía, perturbación o irrelevancia de los datos.
    </p>
</div>

<div class="row">
    <div class="col-md">
        <h1>Razones para efectuar la limpieza de datos</h1>
        <ul>
            <li><a href="{% url 'Outliers' %}">Outliers</a></li>
            <li><a href="{% url 'DatosNulos' %}">Datos Nulos</a></li>
            <li><a href="{% url 'DatosErroneosIrrelevantes' %}">Datos Erroneos e Irrelevantes</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Tutoriales</h2>
        <ul>
            <li>
                <a href="">Outliers</a>
            </li>
            <li>
                <a href="">Datos nulos</a>
            </li>
            <li>
                <a href="">Datos Erroneos e Irrelevantes</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}