{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Archivos ARFF</h1>
    <p class="lead">
        Un archivo arff es un archivo de texto ASCII que describe una lista de instancias con atributos comunes.
    </p>
    <p>
        <a href="https://filext.com/es/extension-de-archivo/ARFF" class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Video Tutorial</h2>
        <ul>
            <li><a href="">Py-Script</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ejercicios propuestos</h2>
        <ul>
            <li><a href="{% url 'EjerciciosObtencionDatos' %}">Py-Script</a></li>
        </ul>
    </div>
</div>


{% endblock %}