{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Archivos CSV</h1>
    <p class="lead">
        Los archivos CSV son un tipo de documento en formato abierto sencillo para representar datos en forma de tabla, en las que
        las columnas se separan por un delimitador y las filas por saltos de líneas.
    </p>
    <p><a href="https://www.adslzone.net/reportajes/software/csv-que-es/" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tutoriales</h2>
    </div>
    <div class="col-md-4">
        <h2>Ejercicios propuestos</h2>
        <ul>
            <li><a href="{% url 'EjerciciosCSV' %}">Ejercicios CSV</a></li>
        </ul>
    </div>
</div>


{% endblock %}