{% extends "app/plantillaBase.html" %}

{% block content %}
<h2>{{title}}</h2>

<section class="pyscript">
    <py-config>
        packages = [
            "pandas",
            "seaborn",
            "matplotlib",
            "scipy",
        ]
        plugins = [
            "https://pyscript.net/latest/plugins/python/py_tutor.py"
        ]
    </py-config>
    <py-tutor>
        <py-script>

            # Obtencion archivos
            import pandas as pd
            from pyodide.http import open_url
            from scipy.io import arff
            import seaborn as sns
            import matplotlib.pyplot as plt
            
            # Fase 1. Obtencion y analisis de informacion

            # Obtencion dataset titanic
            
            def cargarTitanic():
                df = pd.read_csv(open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/titanic.csv"))
                return df

            # Obtencion dataset iris

            def cargarIris():
                df = pd.read_csv(
                                    open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/iris.data"), 
                                    header=None, 
                                    names = ["sepal length","sepal width","petal length","petal width","Species"])
                return df

            # Obtencion dataset segment challenge

            def cargarSegmentChallenge():
                
                segment_challenge = pd.DataFrame(arff.loadarff(open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/segment-challenge.arff"))[0])
                segment_challenge['class'] = segment_challenge['class'].str.decode('utf-8')
                
                return segment_challenge

            # Funcion que muestra el dataset
            
            def showDataset(df, nombreDataset):
                display("Mostrando el dataset: " + nombreDataset)
                display(df)
                return df

            # Funcion que muestra la informacion del dataset
            
            def showInfoDataset(df):
                display("Mostrando la informacion del dataset: ")
                display(df.info())
                return df

            # Funcion que muestra la correlacion de las columnas del dataset
            
            def corrDataset(df):
                display("Correlacion columnas dataset")
                display(df.corr(numeric_only=True))
                return df

            # Funcion que muestra un analisis estadistico del dataset
            
            def analisisEstadisticoDataset(df):
                display("Analisis estadistico del dataset")
                display(df.describe())
                return df

            # Funcion que muestra las clases del dataset
            
            def showClases(df, clase):
                sns.countplot(x=clase, data=df)
                plt.title("Clases del dataset")
                display(plt)
                plt.clf()
                return df

            # Funcion que muestra la distribucion de los datos del dataset para una columna dada
            
            def distribucionDatosColumnaDataset(df, etiqueta, clase):
                display("Mostrando la distribucion de los datos del dataset")
                sns.displot(df, x=etiqueta, col=clase)
                display(plt)
                plt.clf()
                return df
            

            # Fase 2. Limpieza de datos

            # Funcion que visualiza los datos perdidos de un dataset

            def visualizarDatosPerdidos(df):
                # Mostramos las columnas con datos perdidos
                display('Mostrando procentaje datos perdidos: ', round(df.isnull().sum() / len(df) * 100))
                return df

            # Funcion que visualiza el ratio de supervivencia de los pasajeros de cada cabina del titanic

            def visualizarDatosPerdidosTitanic(df):
                # Mostramos datos de cada cabina
                df['Deck'] = df['Cabin'].apply(lambda c: c[0] if pd.notnull(c) else 'M')
                df[['Deck','Survived']].groupby('Deck')['Survived'].mean().plot(kind='bar', figsize=(15,7))
                # Mostramos la grafica
                plt.title('Ratio de supervivencia de diferentes cabinas');display(plt);plt.clf()
                # Mostramos la relacion entre la edad con el sexo y la clase social
                display( 'Relacion edad con el sexo y la clase social: ', df.groupby(['Pclass','Sex'])['Age'].count() )
                
                return df

            # Funcion que elimina las columnas de un dataset

            def eliminarColumnas(df,cols):
                df.drop(cols, axis=1, inplace=True)
                return df

            # Funcion que limpia los datos faltantes del dataset titanic

            def LimpiarDatosFaltantesTitanic(df):
                # Limpiamos los datos faltantes de la edad
                df.interpolate(method ='linear', limit_direction ='backward', inplace=True)
                return df

            # Funcion que detecta valores atipicos de un dataset

            def detectarOutliers(df):
                df.plot(kind="box", figsize=(8,8)); display(plt); plt.clf()
                return df

            # Funcion de transformacion de los datos del dataset titanic
            def transformacionDatosTitanic(df):
                # Transformamos las columnas Pclass, Sex y Embarked
                dummies=[]; cols=['Pclass', 'Sex', 'Embarked'] 
                for col in cols:
                    dummies.append(pd.get_dummies(df[col]))
                df = pd.concat((df, pd.concat(dummies, axis=1)), axis=1) 
                # Transformamos las columnas SibSp y Parch
                df['inFamily']=(df['SibSp'] > 0) | (df['Parch'] > 0)                 
                # Transformamos la columna Age en intervalos
                df['AgeRange']=pd.cut(df['Age'], [-1,15,80], labels=['child','adult']) 
                # Transformamos la columna Fare en intervalos
                df.loc[ df['Fare'] <= 7.910400, 'Fare' ] = 0
                df.loc[ (df['Fare'] > 7.910400)   & (df['Fare'] <= 14.454200), 'Fare'] = 1 
                df.loc[ (df['Fare'] > 14.454200)   & (df['Fare'] <= 31), 'Fare'] = 2 
                df.loc[ df['Fare'] > 31, 'Fare' ] = 3 
                df['Fare'] = df['Fare'].astype(int) 
                # Eliminamos las columnas innecesarias
                df.drop(['Pclass', 'Sex', 'Embarked', 'SibSp', 'Parch', 'Age'], axis=1,inplace=True) 
                # Transformamos la columna Survived
                df['Survived'] = df['Survived'].apply(transformSurvived)
                return df
            
            # Funcion que codifica la etiqueta Survived del dataset titanic

            def transformSurvived(survived):
                if survived == 0:
                    return 'Died'
                else:
                    return 'Alive'
            
            # Funcion de transformacion datos del dataset titanic

            def preprocesamientoDatosTitanic(df):
                
                df.pipe(eliminarColumnas,['PassengerId', 'Name', 'Ticket', 'Cabin']).pipe(LimpiarDatosFaltantesTitanic).pipe(transformacionDatosTitanic)
                return df
             
            # Funcion principal
            def main():
                # Preprocesamiento dataset titanic
                # titanic2 = titanic.copy().pipe(visualizarDatosPerdidos).pipe(visualizarDatosPerdidosTitanic).pipe(eliminarColumnas, ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Deck']).pipe(LimpiarDatosFaltantesTitanic).pipe(detectarOutliers).pipe(transformacionDatosTitanic).pipe(detectarOutliers)
                titanic2 = titanic.copy().pipe(preprocesamientoDatosTitanic).pipe(showDataset, 'titanicClean')
                
            if __name__ == "__main__":
                # Cargamos los conjuntos de datos
                iris, titanic, segment_challenge = cargarIris(), cargarTitanic(), cargarSegmentChallenge()
                main()
        </py-script>
    </py-tutor>

</section>

{% endblock %}
