{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Evaluación de resultados</h1>
    <p class="lead">
        La evaluación de resultados se efectúa una vez que se ha obtenido el modelo, comprobando que las conclusiones obtenidas son válidas
        y satisfactorias.
    </p>
</div>

<div class="col-md">
    <h1>Métodos de evaluación de los resultados</h1>
    <ul>
        <li>Precisión</li>
        <li>Confiabilidad</li>
        <li>Matriz de confusión</li>
        <li>Exactitud</li>
    </ul>
</div>

{% endblock %}