{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Transformación de datos</h1>
    <p class="lead">
        Se realiza en función del análisis previo para poder prepararlo y aplicarlo a la técnica de minería de datos que mejor
        se adapte a la información que se desea analizar.
    </p>
    <p>
        <a href="https://barcelonageeks.com/transformacion-de-datos-en-mineria-de-datos/" class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Métodos de transformación de datos</h1>
        <ul>
            <li>Suavizado</li>
            <li>Agregación</li>
            <li>Generalización</li>
            <li>Normalización</li>
        </ul>
    </div>
    <div class="col-md-4"></div>
        <h1>Tutoriales</h1>
</div>

{% endblock %}