{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Evaluación de resultados</h1>
    <p class="lead">
        La evaluación de resultados se efectúa una vez que se ha obtenido el modelo, comprobando que las conclusiones obtenidas son válidas
        y satisfactorias.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Métodos de evaluación de los resultados</h1>
        <ul>
            <li>Confiabilidad</li>
            <li>Matriz de confusión</li>
            <li>Recall</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h1>Tutoriales</h1>
    </div>
</div>

{% endblock %}