{% extends "app/plantillaBase.html" %}

{% block content %}
<h2>{{ title }}</h2>
<h2>{{ message }}</h2>

<div class="jumbotron">
    <h1>TUTMINING</h1>
    TUTMINING es una aplicación web sin fines de lucro creada por Jaime Lorenzo Sánchez en 2023.

    Se diseñó con el objetivo de ayudar a los programadores a dar sus primeros pasos en la minería de datos. 

    El sitio web incluye ejercicios y materiales de práctica complementarios. Los recursos o materiales de aprendizaje disponibles son gratuitos para los usuarios

    de su sitio web y aplicación.
</div>
{% endblock %}