<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NETTLAERER{% endblock %}</title>

    <!--Archivos navbar-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Archivos pyscript-->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <!-- Add CSS style-->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>
    <!--Add a navbar header-->
    <div id="header" style="padding-left: 50px; margin-top:50px">
        <h1 style="font-family: 'Lobster'; color:black"><em>Menu Principal</em></h1>
        <nav class="navbar navbar-expand-lg navbar-light ">

            <ul class="nav">
                <li><a href="/" class="navbar-brand">NETTLAERER</a></li>
                <li>
                    <a href="{% url 'tecnologias' %}" class="navbar-brand">TECNOLOGIAS</a>
                </li>
                <li><a href="{% url 'MineriaDatos' %}" class="navbar-brand">Mineria de Datos</a></li>
            </ul>
        </nav>
    </div>

    <div style="text-align:center; padding:50px">
        <!--Botones para mostrar/ocultar listado de dataset-->
        <button onclick="$('#dataset').show();">Mostrar lista de dataset</button>
        <button onclick="$('#dataset').hide();">Ocultar lista de dataset</button>
    </div>
       
    <!--Tabla de dataset-->
    <div id="dataset" style="display:none; text-align:center;padding:50px">
        <table border="1" style="border-collapse:collapse; text-align:center;">
        <tr>
            <th>Dataset</th>
            <th>ObtencionDataset</th>
            <th>CaracteristicasDataset</th>
        </tr>
                <tr>
                    <td>IRIS</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/iris.data">IrisDataset</a></td>
                    <td>["sepal length","sepal width","petal length","petal width","Species"]</td>
                </tr>
                <tr>
                    <td>WINE</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/wine.data">WineDataset</a></td>
                    <td>['class', 'Alcohol', 'Malic_acid', 'Ash', 'Alcalinity_of_ash', 'Magnesium', 'Total_phenols','Flavanoids', 'Nonflavanoid_phenols', 'Proanthocyanins', 'Color_intensity', 'Hue', 'OD280/OD315','Proline']</td>
                </tr>
                <tr>
                    <td>DIABETES</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/diabetes.csv">DiabetesDataset</a></td>
                    <td>['preg', 'plas','pres','skin','insu','mass','pedi','age','class']</td>
                </tr>
                <tr>
                    <td>TITANIC</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/titanic.csv">TitanicDataset</a></td>
                </tr>
                <tr>
                    <td>ABALONE</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/abalone.data">AbaloneDataset</a></td>
                    <td>['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings/Class']</td>
                </tr>
                <tr>
                    <td>SEGMENT CHALLENGE</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/segment-challenge.arff">SegmentChallengeDataset</a></td>
                </tr>
                <tr>
                    <td>GLASS</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/glass.arff">GlassDataset</a></td>
                </tr>
                <tr>
                    <td>DRY BEAN</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/Dry_Bean_Dataset.arff">DryBeanDataset</a></td>
                </tr>
                <tr>
                    <td>CAR</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/car.data">CarDataset</a></td>
                    <td>['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']</td>
                </tr>
                <tr>
                    <td>ZOO</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/zoo.data">ZooDataset</a></td>
                    <td>['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airzorne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'class']</td>
                </tr>
                <tr>
                    <td>BALANCE SCALE</td>
                    <td><a href="https://raw.githubusercontent.com/p72losaj/Datasets/main/balance-scale.data">BalanceScaleDataset</a></td>
                    <td>['class', 'left_weight', 'left_distance', 'right_weight', 'right_distance']</td>
                </tr>
            </table>
        </div>



    <div id="pyscript" style="padding-left: 50px; margin-top:50px">
        <h1 style="font-family:'Lobster'; text-align:center"><em>Simulador de Python</em></h1>
        <!-- Configuracion PyScript -->
        <py-config>
            packages = [
            "pandas",
            "seaborn",
            "matplotlib",
            "scipy",
            ]
            plugins = [
            "https://pyscript.net/latest/plugins/python/py_tutor.py"
            ]
        </py-config>
        <!-- Mostrar codigo python-->
        <py-tutor>
            <py-script>
                # Bibliotecas
                import pandas as pd
                from pyodide.http import open_url
                from scipy.io import arff
                import seaborn as sns
                import matplotlib.pyplot as plt

                def loadTitanic() -> pd.DataFrame:
                    """ Obtaining data from titanic dataset.
                    :return: Dataset
                    """
                    df = pd.read_csv(open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/titanic.csv"))
                    return df

                def loadIris() -> pd.DataFrame:
                    """ Obtaining data from iris dataset.
                    :return: Dataset iris
                    """
                    df = pd.read_csv(
                        open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/iris.data"),
                        header=None,
                        names = ["sepal length","sepal width","petal length","petal width","Species"])
                    return df

                def loadSegmentChallenge() -> pd.DataFrame:
                    """ Obtaining data from Segment Challenge dataset.
                    :return: Dataset segment challenge
                    """
                    df = pd.DataFrame(arff.loadarff(open_url("https://raw.githubusercontent.com/p72losaj/Datasets/main/segment-challenge.arff"))[0])
                    df['class'] = df['class'].str.decode('utf-8') # Correccion error de decodificacíon
                    return df

                def showDataset(df) -> pd.DataFrame:
                    """ Show the first 5 lines of the dataset
                    :param df: Dataset 
                    :return: Dataset
                    """
                    display(df.head())
                    return df

                def dropCols(df,cols) -> pd.DataFrame:
                    """ Delete columns from the dataset
                    :param df: Dataset
                    :param cols: Cols to remove
                    :return Dataset
                    """
                    df.drop(cols, axis=1, inplace=True)
                    return df

                def showInfoDataset(df) -> pd.DataFrame:
                    """ Show Dataset Info
                    :param df: Dataset
                    :return: Dataset
                    """
                    display(df.info())
                    return df

                def ClearLostDataTitanic(df) -> pd.DataFrame:
                    """ Clear lost data of dataset titanic
                    :param: Dataset
                    :return: Dataset
                    """
                    df = df = df.interpolate(method ='linear', limit_direction ='backward')
                    return df

                def deleteDuplicatedData(df) -> pd.DataFrame:
                    """ Delete duplicated data of dataset
                    :param: Dataset
                    :return: Dataset
                    """
                    # Detect duplicated rows
                    if df.duplicated(keep = 'last').sum() > 0:
                        df = df.drop_duplicates(keep='last')
                        display("Delete duplicate rows of dataset")
                    else:
                        display('There are not duplicate rows')
                    return df

                def transformSexTitanic(df) -> pd.DataFrame:
                    """ Transform col Sex of Dataset Titanic 
                    :param df: Dataset
                    :return dataset
                    """
                    df['Sex'] = df['Sex'].replace(['female','male'],[0,1])
                    return df

                def transformSibSpParchTitanic(df) -> pd.DataFrame:
                    """ Transform cols SibSp and Parch of Dataset Titanic
                    :param df: Dataset
                    :return dataset
                    """
                    df['inFamily'] = (df['SibSp'] > 0) | (df['Parch'] > 0)
                    df['inFamily'] = df['inFamily'].astype(int)
                    df.pipe(dropCols, ['SibSp', 'Parch'])
                    return df

                def transformAgeTitanic(df) -> pd.DataFrame:
                    """ Transform Age of dataset titanic into intervals
                    :param df: Dataset
                    return Dataset
                    """
                    df.loc[df['Age']<=20, 'Age'] = 0 # Child
                    df.loc[ (df['Age'] >20) & (df['Age'] <= 65), 'Age'] = 1 # Adult
                    df.loc[ df['Age'] > 65, 'Age'] = 2 # Elderly
                    df['Age'] = df['Age'].astype(int)
                    return df

                def describeDataset(df) -> pd.DataFrame:
                    """ Show descriptive statistics of dataset
                    : param df: Dataset
                    :return Dataset
                    """
                    display(df.describe())
                    return df

                def transformFareTitanic(df) -> pd.DataFrame:
                    """ Transform col Fare of dataset titanic into intervals
                    :param df: Dataset
                    :return Dataset
                    """
                    df.loc[ df['Fare'] <= 7.925, 'Fare'] = 0 # Fist Percentile
                    df.loc[ (df['Fare'] > 7.925) & ( df['Fare'] <= 15.2458), 'Fare' ] = 1 # Second Percentile
                    df.loc[ df['Fare'] > 15.2458,'Fare' ] = 2 # Third Percentile
                    df['Fare'] = df['Fare'].astype(int)
                    return df

                def transformSurvivedTitanic(df) -> pd.DataFrame:
                    """ Transform col Survived of dataset titanic and show a graphic of data distribution
                    :param df: Dataframe
                    :return df
                    """
                    df['Survived'] = df['Survived'].replace([1,0],['Alive','Dead'])
                    # Generate graphic
                    sns.countplot( x='Survived', data=df)
                    plt.title('Titanic Class')
                    display(plt)
                    plt.clf()
                    return df
                   
                def main():
                    # Video 1: Show Dataset
                    # display('Show Dataset titanic'); titanic.pipe(showDataset)
                    # display('Show Dataset iris'); iris.pipe(showDataset)
                    # display('Show dataset segment challenge'); segment_challenge.pipe(showDataset)

                    # Video 2: Data Preprocessing
                    titanic2 = titanic.copy().pipe(showDataset).pipe(dropCols, ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked']).pipe(showInfoDataset).pipe(
                                ClearLostDataTitanic).pipe(deleteDuplicatedData).pipe(transformSexTitanic).pipe(transformSibSpParchTitanic).pipe(
                                transformAgeTitanic).pipe(describeDataset).pipe(transformFareTitanic).pipe(transformSurvivedTitanic)
                    
                    # Check if the data preprocessing has been carried out correctly
                    display("Check data preprocessing")
                    titanic2.pipe(showInfoDataset).pipe(showDataset)
                    
                    
                if __name__ == "__main__":
                    # Video 1: Data Collection
                    # titanic, iris, segment_challenge = loadTitanic(), loadIris(), loadSegmentChallenge()
                    
                    # Video 2: Load dataset
                    titanic = loadTitanic()
                    main()

            </py-script>
        </py-tutor>

    </div>



</body>
</html>

