{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Datos nulos</h1>
    <p class="lead">
        Se conoce como datos nulos a aquellos datos sin información alguna en alguno de los elementos de la variable.
        Estos pueden deberse a diversas causas como falta de información o no haber podido estimar la variable,  un error de
        entrada, o bien a un fenómeno externo que impidió la recolección de datos.
    </p>
    <p>
        <a href="https://www.scribbr.com/statistics/missing-data/"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Heatmap</h1>
        <p>
            Un mapa de calor es una representación gráfica de datos donde los valores se representan por colores. Estos gráficos facilitan la visualización de datos
            completos y su comprensión de un vistazo.
        </p>
        <p>
            <a href="https://www.esic.edu/rethink/tecnologia/los-mapas-calor-heatmaps-sirven"
               class="btn btn-primary btn-large">Aprender más&raquo;</a>
        </p>
    </div>
</div>


{% endblock %}