{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Preprocesamiento de Datos</h1>
    <p class="lead">
        El Preprocesamiento de Datos consiste en un conjunto de técnicas utilizadas para preparar los datos para su uso en un sistema IA.
    </p>
    <p>
        <a href="https://blog.powerdata.es/el-valor-de-la-gestion-de-datos/preprocesar-y-normalizar-datos-4-pasos-para-limpiar-y-mejorar-datos"
           class="btn btn-primary btn-large">Aprender más&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md">
        <h1>Informacion de Interes</h1>
        <ul>
            <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html">Interpolación</a></li>
            <li><a href="{% url 'DatosNulos' %}">Datos nulos o perdidos</a></li>
            <li><a href="{% url 'SeleccionDatosInteres' %}">Seleccion datos de interes</a></li>
            <li><a href="{% url 'Outliers' %}">Outliers</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Tutoriales</h2>
        <ul>
            <li>
                <a href="">LimpiezaDatos</a>
                <a href="">TransformacionDatos</a>
            </li>
            
        </ul>
    </div>
</div>


{% endblock %}