{% extends "app/MineriaDatos/MineriaDatos.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="jumbotron">
    <h1>Archivos CSV</h1>
    <p class="lead">
        Los archivos CSV son un tipo de documento en formato abierto sencillo para representar datos en forma de tabla, en las que
        las columnas se separan por un delimitador y las filas por saltos de líneas.
    </p>
    <p><a href="https://www.adslzone.net/reportajes/software/csv-que-es/" class="btn btn-primary btn-large">Aprender más&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Video Tutorial</h2>
        <ul>
            <li><a href="https://drive.google.com/file/d/1KXzVE-ualy5Oe_q9NSnldIVzwp4mlxzr/view?usp=share_link">Py-Script</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ejercicio propuesto</h2>
        <ul>
            <li><a href="{% url 'EjercicioCSV' %}">EjercicioCSV</a></li>
        </ul>
    </div>
</div>


{% endblock %}